.message {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.message * {
    color: white;
    text-align: center;
}

.message h1 {
    font-size: 50px;
}

.message a {
    color: royalblue;
    text-decoration: none;
    position: relative;
}
