body {
    background-color: #171716
}

h1 {
    color: royalblue;
    text-shadow: 0px 0px 10px black;
}

p {
    color: white;
    font-size: 17px;
}

a {
    color: royalblue;
    text-decoration: underline royalblue;
}

.content {
    width: 60%;
    margin: auto;
    margin-top: 3rem;
}

.centered-image {
    width: 50%;
    display: block;
    margin-top: 3rem;
    margin-right: auto;
    margin-left: auto;
}

.subtitle {
    color: white;
}
